.ContentArea {
  display: flex;
  flex-direction: column;
  min-height: 70%;
  border: 1px solid  var(--color-background);
  overflow: auto;
  padding: 2px;
  justify-content: start;
}

.Footer {
  text-align: center;
  display: flex;
  justify-content: center;
}
